@media (max-width:600px){
    body {
        width: 100%;
        background-image: url(../images/Fundo-azul.jpg);
        margin: auto;
        padding: 0px;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        font-style: inherit;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
    a {
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
    }
    .portifolio {
        width: 100%;
        position: relative;
        margin: auto;
    }
    .frase {
        width: 80%;
        font-size: 1rem;
        font-style: italic;
    }
    #folha1 {
        position: absolute;
        top: 20px;
        width: 100%;
        background-image: url(../images/879.jpg);
        background-size: 500% 100%;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
    }
    #folha2 {
        position: absolute;
        top: 1000px;
        left: -50%;
        width: 100%;
        background-image: url(../images/879.jpg);
        background-size: 500% 100%;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
        transform: rotateZ(-6deg);

    }
    #folha3 {
        position: absolute;
        top: 2000px;
        left: -50%;
        width: 100%;
        background-image: url(../images/879.jpg);
        background-size: 500% 100%;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
        transform: rotateZ(-12deg);
    }
    nav {
        display: block;
        justify-content: space-around;
    }
    ul{
        margin-top: 60px;
    }
    li {
        display: inline-block;
    }
    input {
        width: 160px;
        height: 50px;
        background-color: #00243c00;
        color: white;
        border: 2px #01ffff;
        font-size: 2rem;
        cursor: pointer;
    }
    .container {
        display: block;
    }
    /*//////////////////////////////////////////////*/
    .part1 {
        width: 100%;
        margin: auto;
    }
    .part1 h1 img {
        width: 40px;
        height: 40px;
    }
    #sobremin {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 1rem;
        background-color: #01233ca9;
        box-shadow: 2px 2px 4px 4px #01ffff77;
        padding: 20px;
        font-size: 1.5rem;
    }
    #colarFoto {
        margin: auto;
        width: 190px;
        height: 190px;
        background-color: #01233ca9;
        box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #colarFoto img {
        
        width: 150px;
        height: 150px;
    }
    #formaAcad {
        background-color: #01233ca9;
        box-shadow: 2px 2px 4px 4px #01ffff77;
        padding: 20px;
    }
    #minhashabilidades {
        background-color: #01233ca9;
        box-shadow: 2px 2px 4px 4px #01ffff77;
        padding: 20px;
        text-align: center;
    }
    #office {
        padding: 10px;
        width: 180px;
        height: 150px;
    }
    #js {
        width: 150px;
        height: 150px;
    }
    #css3 {
        width: 120px;
        height: 150px;
    }
    #html5 {
        width: 120px;
        height: 150px;
    }
    /*/////////////////////////////////////////////////////*/
    #parte2 {
        width: 100%;
        margin: auto;
        padding: 0px;
    }
    #parte2 h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #parte2 h3 {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    #parte2 p {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    #feitos{
        margin: auto;
    }
    #areaProfficional {
        text-align: center;
        background-color: #01233ca9;
        /*border: 10px solid #087AEA;*/
        box-shadow: 2px 2px 4px 4px #01ffff77;
    }
    #areaProfficional h2 {
        margin-bottom: 0px;
    }
    #areaProfficional p {
        margin-top: 0px;
    }
    #areaAcademica {
        background-color: #01233ca9;
        /*border: 10px solid #087AEA;*/
        box-shadow: 2px 2px 4px 4px #01ffff77;
        margin: auto;
    }
    #areaAcademica button {
        width: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 3rem;
        cursor: pointer;
    }
    #areaAcademica button img {
        width: 90%;
        height: 200px;
        margin-bottom: 20px;
    }
    #contate_me {
        margin: auto;
        padding: 20px;
        background-color: #01233ca9;
        box-shadow: 2px 2px 4px 4px #01ffff77;
    }
    #contate_me button {

        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #087AEA;
        border: 10px solid #087AEA;
        box-shadow: 2px 2px 4px 4px #01ffff77;
        color: #FFFFFF;
        font-size: 4rem;
        font-family: "Bahnschrift Light "condensed;
    }
    #contate_me p {
        font-size: 1.5rem;
    }
}