body{
    position: relative;
    margin: 0px;
    background-image: url(../images/FundoTech.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#menu{position:absolute;
    top: 50px;
    width: 300px;
    font-size: 2.5rem;
    transform: perspective(7.5cm) rotateX(0deg) rotateY(15deg);
    background-color: #f4a91e00;
    color: black;
    
}
.container{
    margin: auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;

}
li{
    
    width: 300px;
    height: 100px;
    
    list-style: none;
}
a{
    text-decoration: none;
   color: black;
    
}

hr{

}
#sombra{
    position: absolute;
    top: 335px;
    left: 495px;
    font-size: 13rem;
    transform: perspective(15rem) rotateX(-120deg) rotateY(0deg) rotateZ(0deg) ;
    color: rgba(0, 0, 0, 0.548);
}
#bemVindo{
    font-size: 10rem;
    position: absolute;
    top: 312px;
    left: 600px;

    color: white;
}

